/*heading styling*/
.heading {
    text-align: center;
    font-weight: bold;
    font-size: 25px;

    font-family: "Noto Serif", serif;
    color: black;
    background-image: linear-gradient(to right, silver, #80ced6);
    width: 600px;
    margin: 0 auto;

}

/*div game styling*/
.game {

    background-image: linear-gradient(to right, silver, #80ced6);

    height: 590px;
    text-align: center;
    font-family: "Noto Serif", serif;
    color: black;
    width: 550px;
    margin: 0 auto;
}

/*computer score styling*/

.computer {
    display: flex;

    justify-content: space-evenly;
    border: none;

    width: 50%;
    margin: 0 auto;
    background: none;

    padding: 10px;
    font-size: 25px;

}

/*player score styling*/
.player1 {
    display: flex;

    justify-content: space-evenly;
    border: none;

    width: 50%;
    margin: 0 auto;
    background: none;

    padding: 10px;
    font-size: 25px;
}



/*moves left styling*/

.movesleft {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;

    margin-bottom: 50px;

}

#movesLeft {
    font-size: 20px;
    font-weight: bold;
}


/*button  styling*/
.options {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}




.options button {
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 16px 32px;
    margin-right: 20px;
    border-radius: 50%;
}

/*button hover styling*/
button:hover {
    background-color: yellow;
    color: black;
}

/*result styling*/

.result {
    margin-top: 20px;
    font-size: 1.2rem;
}

/*reload button styling*/
.reload {


    padding: 10px;
    background-color: black;
    color: white;

    cursor: pointer;

    font-size: 20px;
    margin-top: 50px;
    left: 50%;
    border-radius: 12px;

}

/* ho play button styling*/
#play {
    width: 100%;
    text-align: center;
    margin-top: 80px;

}

#play button {
    border-radius: 20px;
    background-color: black;
    color: #ffff;
    padding: 10px;
    font-size: 20px;
}

#pop-up {

    background-image: linear-gradient(to right, silver, #80ced6);
    width: 400px;
    display: none;
    border-radius: 10px;

    font-size: 16px;
    text-align: left;
    margin: 0 auto;

}

/*game over div styling*/

#gameover {

    background-image: linear-gradient(to right, silver, #80ced6);

    height: 300px;
    width: 300px;
    text-align: center;
    font-family: "Noto Serif", serif;
    display: none;
    margin: 0 auto;
    padding: 100px;


}





/* styling for mobile screens*/
@media (min-width: 300px) and (max-width:700px) {

    .heading {
        font-size: 12px;
        text-align: center;
        width: 300px;
    }



    .options button {
        font-size: 15px;
        background-color: black;
        color: white;
        padding: 5px;
        margin-right: 20px;
        border-radius: 50%;
    }

    #gameover {

        padding: 20px;
        margin-top: 100px;
        width: 300px;
        height: 300px;


        text-align: center;
        font-family: "Noto Serif", serif;
        display: none;





    }

    .game {
        width: 300px;
        height: 650px;
        text-align: center;
        font-family: "Noto Serif", serif;
        color: black;
        padding: 0;

    }

    button:hover {
        background-color: yellow;
        color: black;
    }

    #play {

        text-align: center;

        width: 100%;
    }
}

@media (min-width: 750px) and (max-width:1200px) {

    .heading {
        font-size: 20px;
        text-align: center;
        width: 700px;
    }



    .options button {
        font-size: 25px;
        background-color: black;
        color: white;
        padding: 16px 32px;
        margin-right: 20px;
        border-radius: 50%;
    }

    button:hover {
        background-color: yellow;
        color: black;
    }

    #gameover {

        padding: 100px;
        margin-top: 100px;
        width: 300px;
        height: 300px;


        text-align: center;
        font-family: "Noto Serif", serif;
        display: none;





    }

    .game {
        width: 700px;
        height: 700px;
        text-align: center;
        font-family: "Noto Serif", serif;
        color: black;
        padding: 0;

    }



    #play {

        text-align: center;

        width: 100%;
    }
}