body {
    background-color: #f2f2f2;

}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 25px;

    font-family: "Noto Serif", serif;
    color: black;
    background-image: linear-gradient(to right, silver, #80ced6);
    width: 600px;
    margin: 0 auto;




}

.game {

    background-image: linear-gradient(to right, silver, #80ced6);

    height: 590px;
    text-align: center;
    font-family: "Noto Serif", serif;
    color: black;
    width: 550px;
    margin: 0 auto;


}










.computer {
    display: flex;

    justify-content: space-evenly;
    border: none;

    width: 50%;
    margin: 0 auto;
    background: none;

    padding: 10px;
    font-size: 25px;

}

.player1 {
    display: flex;

    justify-content: space-evenly;
    border: none;

    width: 50%;
    margin: 0 auto;
    background: none;

    padding: 10px;
    font-size: 25px;
}





.movesleft {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;

    margin-bottom: 50px;

}

#movesLeft {
    font-size: 20px;
    font-weight: bold;
}



.options {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}




.options button {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 16px 32px;
    margin-right: 20px;
    border-radius: 50%;
}

button:hover {
    background-color: yellow;
    color: black;
}



.result {
    margin-top: 20px;
    font-size: 1.2rem;
}

.reload {


    padding: 10px;
    background-color: black;
    color: white;

    cursor: pointer;

    font-size: 20px;
    margin-top: 50px;
    left: 50%;
    border-radius: 12px;

}



#movesLeft p {
    font-weight: bold;
    font-size: 16px;
}

#gameover {

    background-image: linear-gradient(to right, silver, #80ced6);

    height: 300px;
    width: 300px;
    text-align: center;
    font-family: "Noto Serif", serif;
    display: none;
    margin: 0 auto;
    padding: 50px;


}



@media (max-width: 750px) {

    .heading {
        font-size: 15px;
        text-align: center;
        width: 375px;
    }



    .options button {
        font-size: 20px;
        background-color: black;
        color: white;
        padding: 15px;
        margin-right: 20px;
        border-radius: 50%;
    }

    #gameover {


        width: 375px;
        height: 300px;


        text-align: center;
        font-family: "Noto Serif", serif;
        display: none;

        padding: 50px;


    }

    .game {
        width: 375px;
        height: 650px;
        text-align: center;
        font-family: "Noto Serif", serif;
        color: black;

    }

    button:hover {
        background-color: yellow;
        color: black;
    }
}